.row{
    background: rgb(248, 246, 246);
}
#order img{
    height:400px;
}
.now{
    padding-top: 25%;
    text-align: center;
    font-size: larger;
    font-family: 'Source Serif Pro', serif;
}
#order h1{
    text-align: center;
    color: darkred;
    font-family: 'Lobster', cursive;
}
.forms{
    display:none;
    float:right;
    padding-right:30%;
    padding-top:15%;
    font-family: 'Source Serif Pro', serif;
}
